.bg-black{
    background-color: rgba(0, 0, 0, .2);
}

.bg-teal{
    background-color: #00796b !important
}

.bg-home{
    background-color: rgb(236, 235, 235);
}

.fa-lemon{
    color: green;
}

.navbar-brand{
    margin: 0;
    padding: 0;
}

.navbar-brand img{
    max-width: 100%;
    height: auto;}

